<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>GBrowse.org Home Page</title>
<meta content="GBrowse, repository, GFF, CONF, perl, Bioperl, genome, browser, viewer, on-the-fly" http-equiv="keywords" />
<meta content="GBrowse is a genome viewer. There are more projects. Principal is about its maintenance and its tutorials. Then there are two subprojects about repository of data view with GBrowse and on-the-fly viewer." http-equiv="description" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="copyright" content="Creative Commons Attribution-Share Alike 3.0 and GNU Free Documentation License" />
<meta name="author" content="Alessandra Bilardi" />
<meta name="language" content="English" />
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
<link type="text/css" rel="stylesheet" href="css/style.css" />
</head>
<body>
<div id="wrapper">
<div id="logo"><a href="http://gmod.org/wiki/Image:GBrowseLogo.png"><img src="image/index/GBrowseLogo_v71x300.png" alt="GBrowse Logo" title="GBrowse Logo" /></a></div>
<div id="list">
<div id="title">GBrowse.org</div>
<ul>
<li><a href="http://gmod.org/wiki/GBrowse">software project</a></li>
<li><a class="hover">repository project</a></li><!-- href="http://gbrowse.org/wiki/" -->
<li><a href="http://webgbrowse.cgb.indiana.edu/">web gbrowse project</a></li>
<li><a class="hover">repository survey</a></li><!-- href="http://gbrowse.org/survey/" -->
</ul>
</div>
</div>
</body>
</html>
